.form-container {
  padding: 24px;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff; 
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 16px;
  font-size: 24px; 
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  padding: 10px; 
  font-size: 16px; 
}

.register-link,
.login-link {
  text-align: center;
  margin-top: 16px;
}

.register-link a,
.login-link a {
  color: #1976d2;
  text-decoration: none;
  cursor: pointer; 
  font-weight: 500;
  display: inline-block; 
  z-index: 1;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
  color: #125ea3;
}

