.form-container {
  text-align: center;
  margin: 0 auto;
  padding: 24px 24px 24px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

mat-form-field {
  width: 100%;
}

button {
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 25px;
}

.register-link,
.login-link {
  text-align: center;
  margin-top: 16px;
}

.register-link a,
.login-link a {
  color: #3c8cd6;
  text-decoration: none;
  cursor: pointer; 
  font-weight: 500;
  display: inline-block; 
  z-index: 1;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
  color: #3c8cd6;
}

