html,

style {
  background-color: black;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e57f84;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-sidenav {
  width: 250px;
  background-color: #2f5061; 
  border-radius: 0; 
  border: none;
  overflow: auto;
}

.mat-sidenav-container {
  height: 100vh; /* Full height of the viewport */
}

.mat-sidenav-content {
  margin: 0;
  padding: 0;
  height: calc(100vh);
}
