:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make the sidebar span the full height */
  border-radius: 0; /* Remove any rounded corners */
}

.sidebar-header {
  background-color: #e57f84;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border-radius: 0; /* Ensure the header also has no rounded corners */
}

.sidebar-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav ul a{
  text-align: left;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
  padding: 20px 24px;
  border-radius: 0; /* Remove hover rounded corners */
}

.sidebar-nav ul li a:hover {
  background-color: #264757;
}