:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make the sidebar span the full height */
  border-radius: 0; /* Remove any rounded corners */
}

.sidebar-header {
  background-color: #e57f84;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 0; /* Ensure the header also has no rounded corners */
}

.sidebar-nav {
  padding: 0;
  margin: 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin: 16px 0;
  text-align: center;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  border-radius: 0; /* Remove hover rounded corners */
}

.sidebar-nav ul li a:hover {
  background-color: #3d4955;
}
