.form-container {
  text-align: center;
  margin: 0 auto;
  padding: 24px 24px 24px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

mat-form-field {
  width: 100%;
}

.form-row {
  display: flex;
}

button {
  font-size: 14px; 
  padding: 4px 20px; 
}

.message {
  text-align: center;
  color: green;
  margin-top: 16px;
}
  