.form-container {
  text-align: center;
  margin: 0 auto;
  padding: 24px 24px 24px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

button.logout {
  background-color: #4297a0; 
  color: white; 
  font-size: 16px; 
  padding: 10px 25px; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

button.logout:hover {
  background-color: #d93737; 
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); 
}

button.logout:active {
  background-color: #b42f2f; 
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

button.logout:disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed; 
  box-shadow: none; 
}
  